{% extends 'base.html' %}
{% load custom_tags %}
{% block title %}
	NBA shop
{% endblock %}
{% block content %}


  <!-- Heading -->
  <div class="bg-primary mb-4">
    <div class="container py-4">
      <h3 class="text-white mt-2">NBA apparel</h3>
    </div>
  </div>
  <!-- Heading -->
</header>

<!-- sidebar + content -->
<section class="">
  <div class="container">
    <div class="row">
      <!-- sidebar -->
      <div class="col-lg-3">

        <!-- Collapsible wrapper -->
        <div class="collapse card d-lg-block mb-5" id="navbarSupportedContent">
          <div class="accordion" id="accordionPanelsStayOpenExample">
          <form method="get" action="{% url 'shop' %}">
                <!-- Category Filter -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button
                                class="accordion-button text-dark bg-light"
                                type="button"
                                data-mdb-toggle="collapse"
                                data-mdb-target="#panelsStayOpen-collapseOne"
                                aria-expanded="true"
                                aria-controls="panelsStayOpen-collapseOne"
                        >
                            Category
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                        <div class="accordion-body">
                            <ul class="list-unstyled">
                                {% for category in categories %}
                                      <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="{{ category }}" name="category" value="{{ category.id }}">
                                            <label class="form-check-label" for="{{ category }}">
                                                {{ category }}
                                            </label>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Price Filter -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button
                                class="accordion-button text-dark bg-light"
                                type="button"
                                data-mdb-toggle="collapse"
                                data-mdb-target="#panelsStayOpen-collapseThree"
                                aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseThree"
                        >
                            Price
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree">
                        <div class="accordion-body">
                            <div class="range">
                                <input type="range" name="min_price" class="form-range" id="customRange1" min="0" max="100" value="{{ request.GET.min_price|default:'0' }}">
                                <label class="form-label" for="min_price">Minimum: ${{ request.GET.min_price|default:'0' }}</label>
                                <input type="range" name="max_price" class="form-range" id="customRange2" min="0" max="100" value="{{ request.GET.max_price|default:'100' }}">
                                <label class="form-label" for="max_price">Maximum: ${{ request.GET.max_price|default:'100' }}</label>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Apply Button -->
                <button type="submit" class="btn btn-white w-100 border border-secondary">Apply Filters</button>
            </form>
          </div>
        </div>
      </div>
      <!-- sidebar -->

      <!-- content -->
      <div class="col-lg-9">
        <header class="d-sm-flex align-items-center border-bottom mb-4 pb-3">
          <strong class="d-block py-2">Number of items: {{ prod_amount }}</strong>

        </header>

        <div class="row">
            {% for product in page_obj %}


          <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
            <div class="card w-100 my-2 shadow-2-strong">
              <a href="{% url 'product_detail' product.id %}">
                  <img src="{{ product.image.url }}" class="card-img-top" /></a>
              <div class="card-body d-flex flex-column">
                <div class="d-flex flex-row">
                  <h5 class="mb-1 me-1">${{ product.price }}</h5>
                </div>
                <p class="card-text">
                    <a href="{% url 'product_detail' product.id %}"><strong>{{ product.name}}</strong></a>
                </p>
                <p class="card-text">{{ product.description | truncatewords:10}}</p>
                <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                    <form action="{% url 'add_to_cart' %}" method="POST">
                        {% csrf_token %}
                        <input hidden type="text" name="product" value="{{ product.id }}">
                        <button class="btn btn-primary shadow-0 me-1" type="submit" name="action" value="add">Add to cart</button>
                        </form>
                        <a href="{% url 'add_to_wishlist' product.id %}" class="btn btn-light border icon-hover px-2 pt-2">
                        <i class="fas fa-heart fa-lg text-secondary px-1"></i></a>
                </div>
              </div>
            </div>
          </div>

            {% endfor %}




        <!-- Pagination -->
<nav aria-label="Page navigation example" class="d-flex justify-content-center mt-3">
    <div class="pagination mb-3">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="{% paginated_url page_obj.previous_page_number %}">&laquo; first</a>
                <a href="{% paginated_url page_obj.previous_page_number %}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="{% paginated_url page_obj.next_page_number %}">next</a>
                <a href="{% paginated_url page_obj.paginator.num_pages %}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</nav>

        <!-- Pagination -->
      </div>
    </div>
  </div>
</section>
<!-- sidebar + content -->

{% endblock %}